name: Test repo-sync-action with cache

on:
  # push推送时触发
  push:
    branches: [ main ]
    # 匹配到该路径的文件有push时触发
    paths:
      # .github/workflows/ 目录下的文件有推送提交时，工作流触发
      #- '.github/workflows/**'
      # 只有当本文件有推送提交时，才工作流触发
      - '.github/workflows/github-to-gitee.yml'
      - 'action.yml'
      - 'Dockerfile'
      - 'entrypoint.sh'
    # paths-ignore 表示该路径的文件有push时忽略触发。这里使用上面的 paths 来设置更符合我的要求(只有当本文件有推送提交时，该工作流触发 )。
    # paths-ignore:
    #   - 'docs/**'
    #   - 'README.md'
  # 定时任务触发
  schedule:
    # 每天北京时间9点跑
    # Runs at 04:00 UTC (12:00 AM Beijing) every day
    - cron:  '*/15 * * * *'

jobs:
  job1:
    name: Sync from GitHub to Gitee
    runs-on: ubuntu-latest
    # 在 GitHub 自动取消运行之前可让作业运行的最大分钟数。 默认值：360
    timeout-minutes: 60
    steps:
      - name: a Print sys-release
        run: |
          echo "Print sys-release"
          cat /etc/*-release

      - name: a Print pre-cache path
        # 此时还没有取回上一次的缓存到指定的 'steps.cacheSrcRepos.with.path' 中
        run: |
          echo "ls -la" $PWD
          ls -la
          echo ""
          echo "ls -la" ${{ github.workspace }}
          ls -la ${{ github.workspace }}

      - name: Checkout source codes
        uses: actions/checkout@v1

      - name: Get Time info
        id: getTime
        run: |
          : 时区临时设置为 Asia/Shanghai
          export TZ=Asia/Shanghai
          : 获取时间
          echo "::set-output name=date::$(/bin/date "+%Y-%m-%d_%H-%M-%S-%N")"
        shell: bash

      - name: Get Repo info
        id: getRepo
        uses: actions/github-script@v3
        with:
          script: |
            core.setOutput('ownerRepo', `${context.repo.owner}-${context.repo.repo}`)
      
      - name: Cache src repos with actions/cache
        uses: actions/cache@v2
        id: cacheSrcRepos
        with:
          # ${{ github.workspace }} 展开为: /home/runner/work/repo-sync-action/repo-sync-action
          # ${{ github.job }} 展开为: <job_id>
          # 运行时 path 展开为: /home/runner/work/repo-sync-action/repo-sync-action/<job_id>-cache
          path: ${{ github.workspace }}/${{ github.job }}-cache
          key: ${{ runner.os }}-${{ steps.getRepo.outputs.ownerRepo }}-${{ github.job }}-cache-${{ steps.getTime.outputs.date }}
          restore-keys: ${{ runner.os }}-${{ steps.getRepo.outputs.ownerRepo }}-${{ github.job }}-cache-

      - name: Print the cache status
        if: steps.cacheSrcRepos.outputs.cache-hit == 'true'
        run: echo "Cached successfully."

      - name: b Print post-cache path - Last time cache
        # 此时已经取回了上一次的缓存到指定的 'steps.cacheSrcRepos.with.path' 中
        # 运行时缓存路径展开为: ls -la /home/runner/work/repo-sync-action/repo-sync-action/<job_id>-cache
        run: |
          echo "ls -la" $PWD
          ls -la
          echo ""
          echo "ls -la" ${{ github.workspace }}
          ls -la ${{ github.workspace }}
          echo ""
          echo "ls -la" ${{ github.workspace }}/${{ github.job }}-cache
          ls -la ${{ github.workspace }}/${{ github.job }}-cache || { echo "warning!";exit 0; }

      - name: Sync from GitHub to Gitee
        # 终止进程之前运行该步骤的最大分钟数。
        timeout-minutes: 30
        uses: ./
        env:
          # 用于目的端上传代码的SSH key，用于从gituhb虚拟机上传代码到目的端仓库。
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_SSH_KEY }}
          GIT_USER_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
        with:
          # 源端仓库链接 到 目的端仓库链接 的映射关系。
          src_to_dst: |
            git@github.com:github/docs.git ---> git@gitee.com:mirror-hub/github-docs.git
            git@github.com:ohmyzsh/ohmyzsh.git ---> git@gitee.com:mirror-hub/ohmyzsh.git
            git@github.com:microsoft/vscode-dev-containers.git ---> git@gitee.com:mirror-hub/vscode-dev-containers.git
            git@github.com:fengyuhetao/shell.git ---> git@gitee.com:mirror-hub/shell.git
            git@github.com:A-BenMao/pure-bash-bible-zh_CN.git ---> git@gitee.com:mirror-hub/pure-bash-bible-zh_CN.git
            
            git@github.com:hlissner/doom-emacs.git ---> git@gitee.com:emacs-hub/doom-emacs.git
            git@github.com:syl20bnr/spacemacs.git ---> git@gitee.com:emacs-hub/spacemacs.git
            git@github.com:manateelazycat/auto-save.git ---> git@gitee.com:emacs-hub/auto-save.git
            git@github.com:manateelazycat/aweshell.git ---> git@gitee.com:emacs-hub/aweshell.git
            git@github.com:manateelazycat/awesome-pair.git ---> git@gitee.com:emacs-hub/awesome-pair.git
            git@github.com:manateelazycat/awesome-tab.git ---> git@gitee.com:emacs-hub/awesome-tab.git
            git@github.com:manateelazycat/awesome-tray.git ---> git@gitee.com:emacs-hub/awesome-tray.git
            git@github.com:manateelazycat/color-rg.git ---> git@gitee.com:emacs-hub/color-rg.git
            git@github.com:manateelazycat/company-english-helper.git ---> git@gitee.com:emacs-hub/company-english-helper.git
            git@github.com:manateelazycat/emacs-application-framework.git ---> git@gitee.com:emacs-hub/emacs-application-framework.git
            git@github.com:manateelazycat/insert-translated-name.git ---> git@gitee.com:emacs-hub/insert-translated-name.git
            git@github.com:manateelazycat/nox.git ---> git@gitee.com:emacs-hub/nox.git
            git@github.com:manateelazycat/sdcv.git ---> git@gitee.com:emacs-hub/sdcv.git
            git@github.com:manateelazycat/snails.git  git@gitee.com:emacs-hub/snails.git
            git@github.com:manateelazycat/thing-edit.git ---> git@gitee.com:emacs-hub/thing-edit.git
            git@github.com:magnars/s.el.git ---> git@gitee.com:emacs-hub/s.el.git
            git@github.com:twlz0ne/multi-translate.el.git ---> git@gitee.com:emacs-hub/multi-translate.el.git
            git@github.com:redguardtoo/pyim-tsinghua-dict.git ---> git@gitee.com:emacs-hub/pyim-tsinghua-dict.git
          # cache_path (optional) 将代码缓存在指定目录，用于与actions/cache配合以加速镜像过程。
          # 'cache_path' 与 'steps.cacheSrcRepos.with.path' 值保持一致
          cache_path: /github/workspace/${{ github.job }}-cache
          # timeout命令中的持续时间
          time_out: '2m'
          # 命令重试总次数
          retry_times: 3

      - name: c Print post-cache path - This time cache
        # 本次缓存（可能包含有仓库更新的内容），也就是 'steps.cacheSrcRepos.with.path' 中的所有内容，
        # 在下一次执行该工作流时，其会作为缓存。被取回到指定的 'steps.cacheSrcRepos.with.path' 中
        # 运行时缓存路径展开为: ls -la /home/runner/work/repo-sync-action/repo-sync-action/<job_id>-cache
        run: |
          echo "ls -la" $PWD
          ls -la
          echo ""
          echo "ls -la" ${{ github.workspace }}
          ls -la ${{ github.workspace }}
          echo ""
          echo "ls -la" ${{ github.workspace }}/${{ github.job }}-cache
          ls -la ${{ github.workspace }}/${{ github.job }}-cache || { echo "warning!";exit 0; }
